<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<div id="chat">
<div class="message"></div>
<form id="chatinput">
<input name="input" />
</form>
</div>

    <script src="/js/chat.js"></script>