<div class="offer-img img-{{img}}">
<div class="offer-block">
<div class="offer-text">
<h3 class="block-title">{{title}}</h3>
<p class="block-subtitle">{{subtitle}}</p>
</div>
<div class="border-line"></div>
<div class="offer-price">${{price}}</div>
</div>
</div>