<!doctype html>
<html lang="ru">
<head>
{{>meta}}
{{> styles}}
</head>

<body class="wrapper">
{{> header current="gallery" }}
{{#>container}}
<section class="right-block">
{{#each items}}
{{#with this}}
{{>item}}
{{/with}}
{{/each}}
</section>


{{/container}}

{{> footer }}

</body>
</html>

